*{
    margin: 0;
    padding: 0;
}

/*TEXTO CALCULADORA*/
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}

body{
    background: lightcyan;
    text-align: center;
}

main img{
    max-width: 800px; /*DEFININDO O TAMANHO MÁXIMO DA IMAGEM*/
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
